@import '~antd/dist/antd.css';
body {
  background-color: #eee;
}
#components-layout-demo-fixed .logo {
  width: 120px;
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 7px 24px 7px 0;
  float: left;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: inherit;
}
.ant-dropdown-menu-dark .ant-dropdown-menu-item-selected {
  background: inherit;
  color: rgba(255, 255, 255, 0.67);
}
.ant-dropdown-menu-dark .ant-dropdown-menu-item-selected:hover {
  background: inherit;
  color: #fff;
}
.login-form {
  max-width: 300px;
  margin: 50px auto 10px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}